.back-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
  display: none;
  z-index: 1000;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px #0d0d0d;
  cursor: pointer;
  font-size: 14px;
  text-align: center;

  &.active {
    display: block;
  }

  .back-top-inner {
    text-align: center;
  }

  img {
    display: block;
    width: 32px;
    height: 32px;
    margin: auto;
    position: relative;
    top: 6px;
  }
}