.list-table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
  box-sizing: border-box;

  thead {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    .list-table-row {
      box-shadow: 1px 0 1px #dedede;
      padding-left: 3px;
    }
  }

  .list-table-row {
    height: 50px;
    line-height: 50px;
  }

  .list-table-head,
  .list-table-data {
    padding: 0 3px;
    box-sizing: border-box;
  }

  .list-table-data {
    height: 250px;
    cursor: default;
    box-shadow: 0 0 2px #d3d3d3;
    transition: all .25s ease-in;

    .source-type {
      margin-left: 3px;
      padding: 3px 5px;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: #c2c2c2;
      color: #fff;
      user-select: none;

      &.type-audio {
        background-color: #e32727;
      }

      &.type-video {
        background-color: #5567f2;
      }
    }

    &:hover {
      background-color: #cecece;
      color: #fff;
    }
  }

  .btn {
    margin-left: 5px;
    padding: 8px 16px;
    font-size: 16px;

    &.btn-operate-remove {
      color: #fff;
      background-color: #f13232;
    }
  }

  .video-cover-wrap {
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  .video-cover {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 240px;
  }
}