html,
body {
  margin: 0;
  font-size: 15px;
  color: #3d3d3d;
}

a {
  text-decoration: none;
  color: #000;
}

div,
p {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  box-shadow: 0 0 1px #999;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff;
  color: #363636;
  font-size: 15px;
}

button {
  cursor: pointer;
  padding: 6px 10px;
}

input {
  padding: 6px 12px;
}

.btn.btn-primary {
  background-color: #0094ff;
  color: #fff;
}

.btn.btn-success {
  background-color: #33dc88;
  color: #fff;
}

.btn.btn-size-large {
  padding: 10px 16px;
}
